@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-gray: hsl(0, 0%, 63%);
  --color-primary-black: hsl(0, 0%, 0%);
  --color-primary-white: hsl(0, 0%, 100%);
  --color-primary-dark: hsl(0, 0%, 27%);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-size: 1.2rem;
  font-family: "Spartan", sans-serif;
  background-color: var(--color-primary-white);
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  background-image: url(images/mobile-image-hero-1.jpg);
  min-height: 61vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  min-width: 50%;
}

.hamburger {
  cursor: pointer;
}

.logo {
  position: relative;
  width: 100%;
  margin-top: 4.7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.img-logo {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links {
  display: none;
  text-transform: lowercase;
}

.links li {
  position: relative;
}

.links li a::after {
  content: "";
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  top: 2rem;
  height: 0.2rem;
  background-color: var(--color-primary-white);
}

.links li a:hover::after {
  display: block;
}

.popup-menu.active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.links.active {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  height: 15vh;
  align-items: center;
  padding-left: 8rem;
}

.close-btn {
  display: none;
  cursor: pointer;
}

.close-btn.active {
  display: block;
  position: absolute;
  top: 4rem;
  left: 2rem;
  background-color: var(--color-primary-white);
  border: transparent;
}

.links li a {
  color: var(--color-primary-black);
  font-weight: 900;
}

.slider-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  display: flex;
}

.left-arrow,
.right-arrow {
  width: 6rem;
  height: 6rem;
  padding: 2rem;
  cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: var(--color-primary-dark);
}

.slider,
.about-furniture {
  display: flex;
  flex-direction: column;
}

.about-slider {
  padding: 8.3rem 2.5rem;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.1rem;
}

.furniture-benefit,
.furniture-benefits {
  color: var(--color-primary-gray);
  margin-bottom: 2.9rem;
  line-height: 1.5;
}

.shop {
  display: flex;
  gap: 3rem;
}

.cta {
  text-transform: uppercase;
  color: var(--color-primary-black);
  font-weight: 600;
  letter-spacing: 0.8rem;
}

.cta:hover {
  color: var(--color-primary-gray);
}

/* about furniture section */
.about {
  padding: 5.3rem 2.5rem;
}

.about-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.furniture-benefits {
  font-size: 1.1rem;
  margin-bottom: 0;
  line-height: 1.7;
}

.light-img img,
.slider-img img {
  width: 100%;
}

/* desktop design */
@media (min-width: 900px) {
  .close-btn.active {
    display: none;
  }

  .popup-menu.active {
    position: static;
    background: none;
  }

  .links.active {
    background: none;
    align-items: flex-start;
    padding-left: 0;
  }

  header {
    flex-direction: row;
  }

  .navbar {
    background-image: url(images/desktop-image-hero-1.jpg);
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: flex-start;
    padding-top: 5rem;
    padding: 0 8rem;
  }

  .logo {
    margin: 0;
    padding: 0;
    width: auto;
    margin-right: 3rem;
  }

  .logo {
    margin-top: 5.5rem;
  }

  .links {
    margin-top: 5rem;
  }

  .about-slider {
    width: 70%;
    margin-left: 3rem;
    padding: 13rem 6.1rem;
  }

  .slider {
    flex-direction: row;
  }

  .slider-img,
  .about,
  .light-img {
    width: 33.333%;
  }

  .about {
    width: 45%;
    padding: 4.2rem;
    padding-top: 8rem;
  }

  .slider-arrow {
    left: 100%;
    width: 17.7rem;
  }

  .left-arrow,
  .right-arrow {
    width: 9rem;
    height: 9rem;
    padding: 3.5rem;
  }

  .title {
    font-size: 3.8rem;
  }

  .hamburger {
    display: none;
  }

  .img-logo {
    position: static;
  }

  .links {
    display: flex;
    gap: 2.5rem;
  }

  .links li a {
    color: var(--color-primary-white);
  }
}
